<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="B2B Django Handler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\virtualenvs\b2b\Scripts\python.exe|C:\virtualenvs\b2b\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
