{% extends "shop/base.html" %}
{% load staticfiles %}
{% block title %}{% if category %}{{ category.name }}{% else %}Opony{% endif %} {% endblock %}

{% block content %}
<section id="product-list">
{% for product in products %}
<div class="notification">
    <div class="columns is-1">
        <a href="{{ product.image.image.url }}" target="_blank">
            <div class="column  bg-white">
                <figure class="image is-64x64">
                    <img src="/media/{{ product.image.image }}" alt="Image">
                </figure>
            </div>
        </a>
        <div class="column is-2">
<!--           <a href="{{ product.get_absolute_url }}">-->
            <p class="title is-6 mar-bottom-0"><b>{{ product.manufacturer }}</b></p>
            <p class="is-small">{{ product.sap }}</p>
            <p class="is-small">{{ product.ean }}</p>
<!--            </a>-->
        </div>
        <div class="column">
<!--           <a href="{{ product.get_absolute_url }}">-->
            <p class="title is-4 mar-bottom-0">{{ product.name }}</p>
            {% if product.dot != "" %}
                <p class="is-5">DOT: {{ product.dot }}</p>
            {% endif %}
<!--            </a>-->
        </div>
        <div class="column is-3">
<!--           <a href="{{ product.get_absolute_url }}">-->
                <table class="table is-fullwidth">
                   {% if product.rolling_resistance != "" %}
                    <tr>
                        <th>Opory toczenia</th>
                        <th>{{ product.rolling_resistance }}</th>
                    </tr>
                    {% endif %}
                    {% if product.adhesion != "" %}
                    <tr>
                        <th>Przyczepność</th>
                        <th>{{ product.adhesion }}</th>
                    </tr>
                    {% endif %}
                    {% if product.noise != "" %}
                    <tr>
                        <th>Hałas</th>
                        <th>{{ product.noise }}[db]</th>
                    </tr>
                    {% endif %}
                </table>
<!--            </a>-->
        </div>
        <div class="column is-1">
<!--           <a href="{{ product.get_absolute_url }}">-->
                <p class="has-text-centered">Dostępność</p>
                {% if product.stock >= 20 %}
                <p class="title is-4 has-text-centered">>20</p>
                {% else %}
                <p class="title is-4 has-text-centered">{{ product.stock }}</p>
                {% endif %}
<!--            </a>-->
        </div>
        <div class="column is-1">
<!--           <a href="{{ product.get_absolute_url }}">-->
            {% if request.user.profile.country == "Polska" %}
                <p class="has-text-centered">Netto</p>
                <p class="title is-4 has-text-centered">{{ product.price }} zł</p>
            {% else %}
                <p class="title is-4 has-text-centered"> {{ product.price_ue }} eur</p>
            {% endif %}
<!--            </a>-->
        </div>
        <div class="column is-1">
                <form action="{% url 'cart:cart_add' product.id %}" method="post">{% csrf_token %}
                    <div class="field">
                        <div class="control">
                            {{ cart_product_form }}
                        </div>
                    </div>
                    <button type="submit" class="button is-success is-small"><span class="icon is-small"><i class="fa fa-cart-plus" aria-hidden="true"></i></span></button>
                </form>
        </div>
    </div>
</div>
{% endfor %}
</section>

{% endblock %}
