{% extends "shop/base.html" %} {% load staticfiles %} {% load order_tag %} {% block title %}{% if category %}{{ category.name }}{% else %}Opony{% endif %} {% endblock %} {% block content %}
<section id="product-list">
    <article class="message">
        <div class="message-header">
            <p>Promocje</p>
        </div>
        <div class="message-body">
            <div class="columns is-centered">
                {% for sale in sales %}
                <a href="{{ sale.get_absolute_url }}">
                    <div class="column">
                        <div class="box">
                            <article class="media">
                                <div class="media-left">
                                    <figure class="image is-64x64">
                                        <img src="/media/{{ sale.image.image }}" alt="Image">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <div class="content">
                                        <p class="is-small mar-bottom-0"><b>{{ sale.name }}</b></p>
                                        <table class="table weight-normal">
                                            <tr>
                                                {% if request.user.profile.country == "Polska" %}
                                                <th class="no-padding-th"><b>netto</b> {{ sale.price }} zł</th>
                                                <th class="no-padding-th"><b>brutto</b> {{ sale.brutto_pl }} zł</th>
                                                {% else %}
                                                <p class="title is-4 has-text-centered mar-bottom-0"> {{ sale.price_ue }} eur</p>
                                                </td>
                                                {% endif %}
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </article>

    <div class="tile is-ancestor">
        <div class="tile is-parent">
            <article class="tile is-child">
                <div class="content">
                    <div class="notification">
                        <div class="columns">
                            <div class="column is-1"></div>
                            <div class="column is-2">
                                <p class="mar-bottom-0"><a href="?{% url_replace request 'order_by' 'manufacturer' '-' %}">Producent<span class="icon is-small"><i class="fa fa-sort-desc" aria-hidden="true"></i></span><span class="icon is-small"><i class="fa fa-sort-asc" aria-hidden="true"></i></span></a></p>
                            </div>
                            <div class="column"></div>
                            <div class="column is-1">
                                <p class="has-text-centered mar-bottom-0"><a href="?{% url_replace request 'order_by' 'typ' '-' %}">Typ<span class="icon is-small"><i class="fa fa-sort-desc" aria-hidden="true"></i></span><span class="icon is-small"><i class="fa fa-sort-asc" aria-hidden="true"></i></span></a></p>
                            </div>
                            <div class="column is-1">
                                <p class="has-text-centered mar-bottom-0"><a href="?{% url_replace request 'order_by' 'season' '-' %}">Sezon<span class="icon is-small"><i class="fa fa-sort-desc" aria-hidden="true"></i></span><span class="icon is-small"><i class="fa fa-sort-asc" aria-hidden="true"></i></span></a></p>
                            </div>
                            <div class="column is-1">
                                <p class="has-text-centered mar-bottom-0"><a href="?{% url_replace request 'order_by' 'stock' '-' %}">Dostępność<span class="icon is-small"><i class="fa fa-sort-desc" aria-hidden="true"></i></span><span class="icon is-small"><i class="fa fa-sort-asc" aria-hidden="true"></i></span></a></p>
                            </div>
                            <div class="column is-1">
                                <p class="has-text-centered mar-bottom-0"><a href="?{% url_replace request 'order_by' 'price' '-' %}">Netto<span class="icon is-small"><i class="fa fa-sort-desc" aria-hidden="true"></i></span><span class="icon is-small"><i class="fa fa-sort-asc" aria-hidden="true"></i></span></a></p>
                            </div>
                            <div class="column is-1">
                                <p class="has-text-centered mar-bottom-0">Brutto</p>
                            </div>
                            <div class="column is-1"></div>
                        </div>
                    </div>
                    {% for product in products %}
                    <div class="notification">
                        <div class="columns ">
                            <a href="{{ product.image.image.url }}" target="_blank">
                                <div class="column is-1 bg-white">
                                    <figure class="image is-64x64"><img src="/media/{{ product.image.image }}" alt="Image"></figure>
                                </div>
                            </a>
                            <div class="column is-2">
                                <p class="title is-6 mar-bottom-0"><b>{{ product.manufacturer }}</b></p>
                                <table class="table weight-normal">
                                    <tr>
                                        <th>{{ product.sap }}</th>
                                    </tr>
                                    <tr>
                                        <th>{{ product.ean }}</th>
                                    </tr>
                                </table>
                            </div>
                            <div class="column">
                                <p class="title is-5 mar-bottom-0">{{ product.name }}</p>
                                <table class="table table-ue">
                                    <tr>
                                        {% if product.rolling_resistance != "" %}
                                        <th class="th-ue">Opory toczenia: {{ product.rolling_resistance }}</th>
                                        {% endif %} {% if product.adhesion != "" %}
                                        <th class="th-ue">Przyczepność: {{ product.adhesion }}</th>
                                        {% endif %} {% if product.noise != "" %}
                                        <th class="th-ue">Hałas: {{ product.noise }}[db]</th>
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        {% if product.dot != "20" %}
                                        <th class="th-ue">DOT: {{ product.dot }}</th>
                                        {% endif %}
                                    </tr>
                                </table>
                            </div>
                             <div class="column is-1">
                                {% if product.typ == "OSOB" %}
                                <p class="icon-season"><span class="icon is-medium" data-tooltip="Osobowe"><img src="{% static 'img/icons/osob.svg' %}" alt=""></span></p>
                                {% endif %}
                                {% if product.typ == "CIĘŻAROWE" %}
                                <p class="icon-season"><span class="icon is-medium" data-tooltip="Ciężarowe"><img src="{% static 'img/icons/ciezarowe.svg' %}" alt=""></span></p>
                                {% endif %}
                                {% if product.typ == "BUS" %}
                                <p class="icon-season"><span class="icon is-medium" data-tooltip="BUS"><img src="{% static 'img/icons/bus.svg' %}" alt=""></span></p>
                                {% endif %}
                                {% if product.typ == "SUV" or product.typ == "4X4" %}
                                <p class="icon-season"><span class="icon is-medium" data-tooltip="SUV | 4x4"><img src="{% static 'img/icons/suv.svg' %}" alt=""></span></p>
                                {% endif %}
                            </div>
                            <div class="column is-1">
                                {% if product.season == "Zima" %}
                                <p class="icon-season"><span class="icon is-medium icon-season winter"><i class="fa fa-snowflake-o" aria-hidden="true"></i></span></p>
                                {% endif %} {% if product.season == "Lato" or product.season == "LATO" %}
                                <p class="icon-season"><span class="icon is-medium summer"><i class="fa fa-sun-o" aria-hidden="true"></i></span></p>
                                {% endif %} {% if product.season == "CAŁOROCZNE" or product.season == "All Season" %}
                                <p class="icon-season"><span class="icon is-medium summer"><i class="fa fa-sun-o" aria-hidden="true"></i></span> <span class="icon is-medium icon-season winter"><i class="fa fa-snowflake-o" aria-hidden="true"></i></span></p>
                                {% endif %}
                            </div>
                            <div class="column is-1">
                                {% if product.stock >= 20 %}
                                <p class="title is-4 has-text-centered mar-top">>20</p>
                                {% else %}
                                <p class="title is-4 has-text-centered mar-top">{{ product.stock }}</p>
                                {% endif %}
                            </div>
                            <div class="column is-1">
                                {% if request.user.profile.country == "Polska" %}
                                <p class="title is-4 has-text-centered mar-bottom-0 mar-top">{{ product.price }} zł</p>
                                {% else %}
                                <p class="title is-4 has-text-centered mar-bottom-0 mar-top"> {{ product.price_ue }} eur</p>
                                {% endif %}
                            </div>
                            <div class="column is-1">
                                {% if request.user.profile.country == "Polska" %}
                                <p class="title is-4 has-text-centered mar-bottom-0 mar-top">{{ product.brutto_pl }} zł</p>
                                {% else %}
                                <p class="title is-4 has-text-centered mar-bottom-0 mar-top"> {{ product.brutto_eu }} eur</p>
                                {% endif %}
                            </div>
                            <div class="column is-1">
                                <form action="{% url 'cart:cart_add' product.id %}" method="post">{% csrf_token %}
                                    <div class="field has-addons mar-top">
                                        <div class="control">
                                            {{ cart_product_form }}
                                        </div>
                                        <div class="control">
                                            <button type="submit" class="button is-success is-small"><span class="icon is-small"><i class="fa fa-cart-plus" aria-hidden="true"></i></span></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </article>
        </div>
</section>

{% endblock %}
