{% extends "shop/base.html" %}
{% load widget_tweaks %}

{% block title %}Zamówienie{% endblock %}

{% block content %}

<section id="cart-create">
   <div class="container">
    <article class="message">
        <div class="message-header">
            <p class="title is-4 has-text-white">Zamówienie</p>
        </div>
        <div class="message-body">
            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th>Ilość</th>
                        <th>Product</th>
                        <th>Cena jednostkowa</th>
                        <th class="has-text-right">Cena</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in cart %}
                <tr>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.product.name }}</td>
                    {% if request.user.profile.country == "Polska" %}
                        <td>{{ item.price }} zł</td>
                        <td class="has-text-right">{{ item.total_price }} zł</td>
                    {% else %}
                        <td><span class="icon is-small"><i class="fa fa-eur" aria-hidden="true"></i></span>{{ item.price }}</td>
                        <td class="has-text-right"><span class="icon is-small"><i class="fa fa-eur" aria-hidden="true"></i></span>{{ item.total_price }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
                <p class="has-text-right"><strong>Total: {{ cart.get_total_price }} zł</strong></p>

        </div>
    </article>

    <article class="message">
        <div class="message-header">
            <p class="title is-4 has-text-white">Adres dostawy</p>
        </div>
        <div class="message-body">
            {% if request.user.profile.b2b is True %}
            <form action="." method="post">{% csrf_token %}
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Imię</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control">
                                {{ form.first_name|add_class:"input input-disabled" }}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Nazwisko</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control">
                                {{ form.last_name|add_class:"input input-disabled" }}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Email</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control">
                                {{ form.email|add_class:"input input-disabled" }}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Adres</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control">
                                {{ form.address|add_class:"input input-disabled" }}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Kod pocztowy</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control">
                                {{ form.postal_code|add_class:"input input-disabled" }}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Miasto</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control">
                                {{ form.city|add_class:"input input-disabled" }}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Kraj</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control">
                                {{ form.country|add_class:"input input-disabled" }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-body">
                        <div class="field">
                            <p class="has-text-right">{{ form.kurier|add_class:"checkbox" }} Wysyłka kurierem (<strong>+ {{ cart.get_total_price_delivery }} zł</strong>)</p>
                        </div>
                    </div>
                </div>

                <div class="field is-grouped is-grouped-right">
                    <div class="control">
                        <button type="submit" class="button is-success">Zamów</button>
                    </div>
                </div>
            </form>
            {% else %}
            <form action="." method="post">{% csrf_token %}
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Imię</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control">
                                {{ form.first_name|add_class:"input" }}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Nazwisko</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control">
                                {{ form.last_name|add_class:"input" }}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Email</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control">
                                {{ form.email|add_class:"input" }}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Adres</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control">
                                {{ form.address|add_class:"input" }}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Kod pocztowy</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control">
                                {{ form.postal_code|add_class:"input" }}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Miasto</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control">
                                {{ form.city|add_class:"input" }}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Kraj</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control">
                                {{ form.country|add_class:"input" }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-body">
                        <div class="field">
                            <p class="has-text-right">{{ form.kurier|add_class:"checkbox" }} Wysyłka kurierem (<strong>+ {{ cart.get_total_price_delivery }} zł</strong>)</p>
                        </div>
                    </div>
                </div>

                <div class="field is-grouped is-grouped-right">
                    <div class="control">
                        <button type="submit" class="button is-success">Zamów</button>
                    </div>
                </div>
            </form>
            {% endif %}
        </div>
    </article>
    </div>
</section>
{% endblock %}
