{% extends "shop/base.html" %}
{% block title %} Zamówienie {{ order.id }} {{ block.super }} {% endblock %}


{% block content %}

<script>
    function printElem(divId) {
    var content = document.getElementById(divId).innerHTML;
    var mywindow = window.open('', 'Print', 'height=600,width=800');

    mywindow.document.write('<html><head><title>Print</title>');
    mywindow.document.write('</head><body >');
    mywindow.document.write(content);
    mywindow.document.write('</body></html>');

    mywindow.document.close();
    mywindow.focus()
    mywindow.print();
    mywindow.close();
    return true;
}
</script>

<section class="hero">
    <div class="hero-body">
        <div class="container is-fluid">
<article class="message">
  <div class="message-header">
    <h1 class="title has-text-light">Zamówienie numer {{ order.id }}</h1>
  </div>
</article>
            <div class="columns" id="order_detail_panel">
                <div class="column">
                    <article class="message">
                        <div class="message-header">
                            <p>Faktura</p>
                        </div>
                        <div class="message-body">
                            <table class="table is-fullwidth">
                                <tr>
                                    <th>Imię i nazwisko</th>
                                    <td>{{ order.buyer.first_name }} {{ order.buyer.last_name }}</td>
                                </tr>
                                <tr>
                                    <th>E-mail</th>
                                    <td><a href="mailto:{{ order.buyer.email }}">{{ order.buyer.email }}</a></td>
                                </tr>
                                <tr>
                                    <th>Firma</th>
                                    <td>{{ order.buyer.profile.company_name }}</a></td>
                                </tr>
                                <tr>
                                    <th>NIP</th>
                                    <td>{{ order.buyer.profile.nip }}</a></td>
                                </tr>
                                <tr>
                                    <th>Adres</th>
                                    <td>{{ order.buyer.profile.address }}</a></td>
                                </tr>
                                <tr>
                                    <th>Kod pocztowy</th>
                                    <td>{{ order.buyer.profile.postal_code }}</a></td>
                                </tr>
                                <tr>
                                    <th>Miasto</th>
                                    <td>{{ order.buyer.profile.city }}</a></td>
                                </tr>
                                <tr>
                                    <th>Kraj</th>
                                    <td>{{ order.buyer.profile.country }}</a></td>
                                </tr>
                                <tr>
                                    <th>Drukuj zamówienie</th>
                                    <td><a href="#"  onclick="printElem('order_detail_panel');"><span class="icon is-small"><i class="fa fa-print"></i></span></a></td>
                                </tr>
                                <tr>
                                    <th>Faktura</th>
                                    {% if order.invoice %}
                                       <td><a href="/media/{{ order.invoice }}" target="_blank"><span class="icon is-small"><i class="fa fa-download"></i></span></a></td>
                                    {% else %}
                                        <th></th>
                                    {% endif %}
                                </tr>
                            </table>
                        </div>
                    </article>
                </div>
                <div class="column">
                    <article class="message">
                        <div class="message-header">
                            <p>Dostawa</p>
                        </div>
                        <div class="message-body">
                            <table class="table is-fullwidth">
                                <tr>
                                    <th>Utworzono</th>
                                    <td>{{ order.created }}</td>
                                </tr>
                                <tr>
                                    <th>Klient</th>
                                    <td>{{ order.first_name }} {{ order.last_name }}</td>
                                </tr>
                                <tr>
                                    <th>E-mail</th>
                                    <td><a href="mailto:{{ order.email }}">{{ order.email }}</a></td>
                                </tr>
                                <tr>
                                    <th>Adres</th>
                                    <td>{{ order.address }}, {{ order.postal_code }} {{ order.ci }}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Spsób dostawy</th>
                                    {% if order.kurier is True %}
                                    <td>Wysyłka kurierem</td>
                                    {% else %}
                                    <td>Odbiór osobisty</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <th>Status</th>
                                    {% if order.status_id == 1 %}
                                    <td><a class="button is-info is-small">{{ order.status }}</a></td>
                                    {% endif %}
                                    {% if order.status_id == 2 %}
                                    <td><a class="button is-primary is-small">{{ order.status }}</a></td>
                                    {% endif %}
                                    {% if order.status_id == 3 %}
                                    <td><a class="button is-success is-small">{{ order.status }}</a></td>
                                    {% endif %}
                                    {% if order.status_id == 4 %}
                                    <td><a class="button is-danger is-small">{{ order.status }}</a></td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <th>Numer przesyłki</th>
                                    {% if order.tracking_number is None %}
                                    {% else %}
                                        <th><a href="https://tracktrace.dpd.com.pl/parcelDetails?typ=1&p1={{ order.tracking_number }}" target="_blank">{{ order.tracking_number }}</a></th>
                                    {% endif %}
                                </tr>
                            </table>
                        </div>
                    </article>
                </div>
                <div class="column is-5">
                    <article class="message">
                        <div class="message-header">
                            <p>Szczegóły</p>
                        </div>
                        <div class="message-body">
                            <table class="table is-fullwidth">
                                <thead>
                                    <tr>
                                        <th>Produkt</th>
                                        <th>Cena</th>
                                        <th>Ilość</th>
                                        <th>Suma</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in order.items.all %}
                                    <tr>
                                        <td><small>{{ item.product.name }}</small></td>
                                        <td class="num">{{ item.price }} PLN</td>
                                        <td class="num">{{ item.quantity }}</td>
                                        <td class="num">{{ item.get_cost }} PLN</td>
                                    </tr>
                                    {% endfor %}
                                    {% if order.kurier is True %}
									<tr class="total">
										<td colspan="3">Wysyłka kurierem</td>
										<td class="num">+ {{ order.get_total_delivery }} PLN</td>
									</tr>
									<tr class="total">
                                        <td colspan="3">Total</td>
                                        <td class="num">{{ order.get_total_delivery_cost }} PLN</td>
                                    </tr>
									{% else %}
									<tr class="total">
										<td colspan="3">Odbiór osobisty</td>
										<td class="num">+ 0 PLN</td>
									</tr>
									<tr class="total">
                                        <td colspan="3">Total</td>
                                        <td class="num">{{ order.get_total_cost }} PLN</td>
                                    </tr>
										{% endif %}
                                </tbody>
                            </table>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
